<div ng-include="'partials/navbar.html'"></div>

<div class="container container-section achivements-container">
  <div class="row">
    <div class="col-md-4">
      <div class="column">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail">
            <img src="images/dance_group.jpg" class="img-responsive" alt="">
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <div class="category">Cultural</div>
            <h1 class="title">Grupo de baile folclórico "El Refugio"</h1>
            <h2 class="sub_title">Miembro</h2>
            <p class="description">Soy miebro del grupo de baile folclórico "El Refugio"
              que se dedica a realizar presentaciones de bailes típicos de todos los estados
              de México.</p>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 2013</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="column">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail">
            <img src="images/orgullo_ug.jpg" class="img-responsive" alt="">
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <div class="category">Académico</div>
            <h1 class="title">Orgullo UG</h1>
            <h2 class="sub_title">Premio</h2>
            <p class="description">Este reconocimiento se le entrega a los alumnos
              destacados de la Universidad de Guanajuato.</p>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 2015</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="column">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail">
            <img src="images/hackaton.jpg" class="img-responsive" alt="">
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <div class="category">Tecnológico</div>
            <h1 class="title">Hackaton HackBajío Soccer&amp;Tech Edition</h1>
            <h2 class="sub_title">Primer Lugar</h2>
            <p class="description">Junto con mi equipo obtuvimos el primer lugar en
              este hackaton patrocinado por la Major League Hacking (MLH) y el Club León FC,
              con el proyecto Kickoff Soccer: Una plataforma web para encontrar futuros
              jugadores profesionales.</p>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 2017</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
