<div ng-include="'partials/navbar.html'"></div>

<div class="container container-section bio-container">
	<div class="row">
		<div class="col-lg-10 col-sm-6">

      <div class="card hovercard">
        <div class="cardheader">
        </div>
        <div class="avatar">
          <img alt="" src="images/profile.jpg">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="#">Jaime Loyola</a>
          </div>
          <div class="desc">Unstoppable</div>
          <div class="desc">-</div>
          <div class="desc">
            Soy un estudiante de último semestre de Ingeniería en sistemas computacionales,
            enfocado principalmente en el Desarrollo Web y Móvil.
            He desarrollado varios proyectos por iniciativa propia y participado de grandes eventos de impacto social,
            poseo grandes capacidades de auto-aprendizaje y disfruto de la preparación continua
          </div>
        </div>
        <div class="bottom">
          <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/jjaimelr">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="btn btn-primary btn-sm" rel="publisher" href="https://mx.linkedin.com/in/jaimelr">
            <i class="fab fa-linkedin"></i>
          </a>
          <a class="btn btn-primary btn-sm" href="https://github.com/jaimelr/">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
