<div class="container container-section">
  <div class="row section-top">
    <div class="section col-md-6">
      <div class="hovereffect">
        <img class="img-responsive" src="./images/devEx.jpg" alt="">
        <div class="overlay">
          <a href="/devex"><h2>DevEx</h2></a>
          <p class="info">
            Experiencias como desarrollador.
            <a href="devex">¡Vamos allá!</a>
          </p>
        </div>
      </div>
    </div>
    <div class="section col-md-6">
      <div class="hovereffect">
        <img class="img-responsive" src="./images/devsCheatSheet.jpg" alt="">
        <div class="overlay">
          <a href="https://github.com/jaimelr/DevsCheatSheet"><h2>Developers Cheat Sheet</h2></a>
          <p class="info">
            Compendio de herramientas y tutoriales muy útiles para el desarrollo de software.
            <a href="https://github.com/jaimelr/DevsCheatSheet">Suena interesante...</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-mid">
    <div class="profile-header-container">
      <div class="profile-header-img">
        <img class="img-circle img-responsive" src="./images/profile.jpg" />
        <!-- badge -->
        <div class="rank-label-container">
          <span class="label label-default rank-label"><a href="/bio" style="color: #e3b505">Jaime Loyola</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row section-bot">
    <div class="section col-md-6">
      <div class="hovereffect">
        <img class="img-responsive" src="./images/microblog.jpeg" alt="">
        <div class="overlay">
          <a href="/logros"><h2>Logros y proyectos</h2></a>
          <p class="info">
            Un poco del trabajo que he realizado y los logros que he alcanzado.
            <a href="/logros">Veamos...</a>
          </p>
        </div>
      </div>
    </div>
    <div class="section col-md-6">
      <div class="hovereffect">
        <img class="img-responsive" src="./images/opinion.jpg" alt="">
        <div class="overlay">
          <a href="/opinion"><h2>Opinión</h2></a>
          <p class="info">
            Desde política hasta clean code, conoce un poco más de mi postura sobre el mundo en general.
            <a href="/opinion">¿En serio?</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
